@media (max-width:400px){

body{

background:url("https://i.postimg.cc/rmq3y1Wg/M5DeQ3l.jpg");
background-repeat:no-repeat;
background-size:100% 660px;

}

#con{

width:90%;

height:60vh;

background-color:white;

opacity:0.8;

text-align:center;

justify-content:center;

position:absolute;

top:0;

bottom:0;

left:0;

right:0;

margin:auto;

border-radius:25%;

box-shadow:2px 2px 8px 4px yellow;

animation:kaka 3s infinite;

display:flex;

}

form{

margin:auto;

text-weight:bolder;

}

input[placeholder=name]{

text-indent:2em;

}

input[type=text]{

letter-spacing:2px;

text-weight:bolder;

}




input[type=email]{

letter-spacing:2px;

text-indent:2em;

}


@keyframes kaka{

50%{

box-shadow:2px 2px 12px 10px green;

}

100%{

box-shadow:2px 2px 12px 10px pink;

}

}

.sub{

border:2px solid white;

width:15vw;

background-color:yellow;

}

.i1{

border:0.8px solid black;

width:40vw;

height:3vh;

}

.i2{

border:0.8px solid black;

width:40vw;

height:3vh;

}

#hea{

color:red;

}

}

@media (min-width:1240px){

body{

background:url("https://i.postimg.cc/rmq3y1Wg/M5DeQ3l.jpg");

background-position:100% 110%;

background-size:cover;

}

#con{

width:50%;

height:50vh;

background-color:black;

opacity:0.8;

text-align:center;

justify-content:center;

position:absolute;

top:0;

bottom:0;

left:0;

right:0;

margin:auto;

border-radius:25%;

box-shadow:2px 2px 8px 4px yellow;

animation:kaka 3s infinite;

display:flex;

}

#con img{

width: 25%;

height:25%;

}

form{

margin:auto;

text-weight:bolder;

}

input[placeholder=name]{

text-indent:2em;

}

input[type=text]{

letter-spacing:2px;

text-weight:bolder;

}




input[type=email]{

letter-spacing:2px;

text-indent:2em;

}


@keyframes kaka{

50%{

box-shadow:2px 2px 12px 10px green;

}

100%{

box-shadow:2px 2px 12px 10px pink;

}

}

.sub{

border:2px solid white;

width:7vw;

background-color:yellow;

}

.i1{

border:0.8px solid black;

width:20vw;

height:3vh;

}

.i2{

border:0.8px solid black;

width:20vw;

height:3vh;

}

#hea{

color:red;

}

}